.katex {
    border: 2px solid #0000!important;
    margin: -5px;
}

.katex:hover {
    border: 2px solid #fff!important;
}

.mwe-math-element>img {
    border: 2px solid #0000;
    margin: -5px;
}

.mwe-math-element>img:hover {
    border: 2px solid #fff!important;
}

html[data-darkreader-scheme="dark"] .mwe-math-element>img:hover {
    border: 2px solid #000!important;
}

#contextMenu {
    border-width: 2px!important;
    flex-direction: row;
    border-radius: 15px;
    position: relative!important;
    width: fit-content!important;
}

#contextMenu>* {
    grid-gap: 0;
    width: unset;
    height: 32px;
    width: 32px;
    padding: 0;
}

#contextMenu .copy_eq_btn {
    height: 20px!important;
    width: 32px!important;
}

.font-semibold > .copy_eq_btn {
    fill: #fff;
    display: none;
}

html.light:not(html[data-darkreader-scheme="dark"]) .font-semibold > .copy_eq_btn {
    fill: #000;
}

.font-semibold {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
}

.agent-turn:has(.katex) .font-semibold > .copy_eq_btn {
    display: block;
    margin: auto 0;
    cursor: pointer;
    filter: invert(0.6);
}

.agent-turn:has(.katex) .font-semibold > .copy_eq_btn {
    filter: invert(0);
}